*{
    margin: 0;
    font-family: 'Bitter', serif;
    
}

body{
    background: linear-gradient( rgb(233, 248, 215)
    ,rgb(13, 46, 0) );
    background-repeat: no-repeat ;
    position: relative;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   
    width: auto;
}
h1{
    font-size: 1.7rem;
    text-shadow: white, 2px;
}

#grid{
    padding: 5%;
    margin-top: 10px;
    display: grid;
    height: 100%;
    width: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "ba"
    "st"
    "re";
    grid-gap: 3%;
    
}

#Banan{
    grid-area: ba;
    background-image: url(/img/allan-nygren--xvKQuNtOhI-unsplash.jpg);
    background-size: cover;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-radius: 5%;
    


}

#Affar{
    grid-area: st;
    background-image: url(/img/sydney-rae-_-6iQvIunqA-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 5%;
    
}

#Resturang{
    grid-area: re;
    background-image: url(/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 5%;
    
    
}


#Banan span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}

#Affar span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem ;
    text-decoration: none;
    text-shadow: 2px 2px black;
}



#Resturang span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.burger{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    top: 3%;
    z-index: 100;
}

.burger div{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s;
    }

.toggle #line2{
    opacity: 0;
}

.toggle #line1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle #line3{
    transform: rotate(45deg) translate(-4px, -6px);
}

.nav {
    display: grid;
    position: absolute;
    height: 100%;
    top: 0;
    width: 90%;
    left: -70vh;
    background: linear-gradient( rgb(13, 46, 0),rgb(233, 248, 215) );
    transition: all 1s;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 100%;
    grid-template-areas: 
    "st"
    "bu"
    "re";

}

.navbar_active{
    transform: translateX(70vh);
}

#butik{
    grid-area: bu;
    
    
}

#startsida{
    grid-area: st;
    
}
#resturang{
    grid-area: re;
    
}


ul{
    font-size: 1.7rem;
    margin-top: 50%;
    font-weight: bold;
    margin-left: 15%;
    
}

ul a {
    text-decoration: none;
    color: black;
    

}

#banatop{
    z-index: 100;
}

