*{
    margin: 0;
    font-family: 'Bitter', serif;
    padding: 0;
    
}

body{
    background: white;
    background-repeat: no-repeat ;
    position: relative;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   

}

.foggy1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   
    width: auto;
    background-color:rgba(68, 60, 60, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.foggy2{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   
    width: auto;
    background-color:rgba(68, 60, 60, 0.8);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    
}
h1{
    color: white;
    font-size: 1.6rem;
    text-shadow: 1.5px 1.5px black;
}



#grid{
    padding: 5%;
    margin-top: 10px;
    display: grid;
    height: 83vh;
    width: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "ba"
    "st"
    "re";
    grid-gap: 3%;
    
}

#Banan{
    grid-area: ba;
    background-image: url(../img/allan-nygren--xvKQuNtOhI-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    color: black;
    border-radius: 50px;


}

#Affar{
    grid-area: st;
    background-image: url(../img/klubbor.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 50px;
}

#Resturang{
    grid-area: re;
    background-image: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 50px;
    
    
}


#Banan h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1.5px 1.5px black;
}

#Affar h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1.5px 1.5px black;
}



#Resturang h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1.5px 1.5px black;
}

.burger{
    width: 40px;
    height: 30px;
    position: fixed;
    right: 10%;
    top: 3%;
    z-index: 10001;
}

.burger div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s;
    }

.toggle #line2{
    opacity: 0;
}

.toggle #line1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle #line3{
    transform: rotate(45deg) translate(-4px, -6px);
}

.nav {
    z-index: 99;
    display: grid;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center ;
    text-align: center;
    align-items: center;
    top: 0; 
    bottom: 0;
    left: -100%;
    background: lightgrey;
    transition: all 1s;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 100%;
    grid-template-areas: 
    "st"
    "bu"
    "re";

}

.navbar_active{
     left: 0; 
}

#butik{
    grid-area: bu;    
}

#startsida{
    grid-area: st;
}
#resturang1{
    grid-area: re;
}


li{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 100px;
    text-decoration: none;
    
    
}

li a {
    text-decoration: none;
    color: black;
    list-style: none;
}


#banatop{
    color: white;
    z-index: 100;
    font-weight: bolder;
    text-shadow: 1.5px 1.5px black;
    position: fixed;
    }


 #banans-grid{
    position: absolute;
    top: 15vh;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 40px 400px 400px 40px 400px 400px 40px 400px 400px ;
    text-align: center;

       
    grid-template-areas:    
    ".. r1 .."
    ".. b1 .."
    ".. p1 .."
    ".. r2 .."
    ".. b2 .."
    ".. p2 .. "
    ".. r3 .."
    ".. b3 .. "
    ".. p3 ..";
    }

    

   

    #rubrik1{
        grid-area: r1;}

    #bild1{
        grid-area: b1;
        background-image: url(../img/overview.jpg);
        border-radius: 50px;
        background-size: cover;
    }

    #text1{
        grid-area: p1;
        position: absolute;
        top: 5%;
    }
    
    #rubrik2{
        grid-area: r2;
    }

    #bild2{
        grid-area: b2;
        background-image: url(../img/karaktär.jpg);
        border-radius: 50px;
        background-size: cover;
    }

    #text2{
        grid-area: p2;
        position: absolute;
        top: 5%;    
    }

    #rubrik3{
        grid-area: r3;
    }

    #bild3{
        grid-area: b3;
        background-image: url(../img/bunker.jpg);
        border-radius: 50px;
        background-size: cover;
    }

    #text3{
        grid-area: p3;
        position: absolute;
        top: 5%;
    }

    h2{
        text-shadow: 1px 1px white ;
    }

    #text1, #text2, #text3, p{
        text-shadow: 0.5px 0.5px white;
    }

    p{
        font-weight: bold;
    }
    section{
        font-weight: bold;
    }

    #shop-grid{
        position: absolute;
        top: 15vh;
        bottom: 3vh;
        display: grid;
        text-align: center;
        grid-gap: 1%;
        height: 100vh;
        width: 100%;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 5% 1fr 5% 1fr 20%;
        grid-template-areas: 
        ".. ru bi bi"
        ".. te bi bi"
        ".. ro bo bo"
        ".. to bo bo"
        "bp bp bp bp";
    }

    #res-rubrik1{
        grid-area: ru;

    }
    #res-rubrik2{
        grid-area: ro;
    }
    #res-text1{
        grid-area: te;
    }
    #res-text2{
        grid-area: to;
    }
    #res-bild1{
        grid-area: bi;
        background-image: url(../img/golfstore1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* border-radius: 50px; */
    }
    #res-bild2{
        grid-area: bo;
        background-image: url(../img/klubbor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* border-radius: 50px; */
    }
    #res-bild3{
        grid-area: bp;
        background-image: url(../img/golfshop2.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #resturang-grid{
        position: absolute;
        top: 15vh;
        bottom: 3vh;
        display: grid;
        text-align: center;
        grid-gap: 0%;
        height: 100vh;
        width: 100%;
        grid-template-columns: 3% 1fr 1fr 3%;
        grid-template-rows: 6% 1fr 6% 5% 5% 5% 5% 5% 5%;
        grid-template-areas: 
        ".. vi bm .."
        ".. rt bm .."
        ".. bn me .."
        ".. bn m1 .."
        ".. bn m2 .."
        ".. bn m3 .."
        ".. bn m4 .."
        ".. bn m5 .."
        ".. bn m6 .."
        ;




    }

    #meny-lista1{
        grid-area: m1;

    }

    #meny-lista2{
        grid-area: m2;
        
    }

    #meny-lista3{
        grid-area: m3;
    }

    #meny-lista4{
        grid-area: m4;
    }

    #meny-lista5{
        grid-area: m5;
    }

    #meny-lista6{
        grid-area: m6;
    }

    #meny{
        grid-area: me;
    }

    #restu-bild1{
        grid-area: bm;
        background-image: url(../img/resturang1.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #restu-bild2{
        grid-area: bn;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/resturang2.jpg);
        
    }

    #restu-bild3{
        grid-area: bb;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/resturang3.jpg);
        
    }

    #text-vilka{
        grid-area: rt;
    }

    #vilka-vi{
        grid-area: vi;
    }

    .logga{
        position: fixed;
        left: 1%;
        height: 6vh;
        width: auto;
    
    }
    .logga2{
        position: absolute;
        left: 1%;
        height: 4vh;
        width: auto;
    }
    


    @media screen and (min-width: 1000px) {
        #grid{
        padding: 0%;
        height: 85vh;
        display: grid;
        margin-top: 25px;
        width: 100vw;
        grid-template-rows: 40% 40%;
        grid-template-columns: 10% 1fr 1fr 10% ;
        grid-template-areas:
        ".. ba ba .."
        ".. st re ..";
        grid-gap: 3%;
    }

    h1{
        font-size: 3rem


    }

    #banans-grid{
        position: absolute;
        top: 15vh;
        display: grid;
        height: auto;
        width: 100%;
        grid-template-columns: 5% 1fr 1% 1fr 5%;
        grid-template-rows: 40px 400px 5% 40px 400px 5% 40px 400px;
        
        text-align: center;

        
        grid-template-areas:    
        ".. b1 .. r1 .."
        ".. b1 .. p1 .."
        ".. .. .. .. .."
        ".. b2 .. r2 .."
        ".. b2 .. p2 .."
        ".. .. .. .. .."
        ".. b3 .. r3 .. "
        ".. b3 .. p3 .."
      ;
    }

    #shop-grid{
        position: absolute;
        top: 15vh;
        bottom: 3vh;
        display: grid;
        text-align: center;
        grid-gap: 0;
        height: 85vh;
        width: 100%;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-rows: 5% 20% 15% 1fr;
        grid-template-areas: 
        ".. ru .. ro .."
        ".. te .. to .."
        ".. .. .. .. .."
        "bi bi bp bo bo"
        
        
       

    }

    #res-bild3{
        border-radius: 0px;

    }
    #res-bild2{
        border-radius: 0px;

    }
    #res-bild1{
        border-radius: 0px;

    }

    #resturang-grid{
        position: absolute;
        top: 15vh;
        bottom: 3vh;
        display: grid;
        text-align: center;
        grid-gap: 1%;
        height: 85vh;
        width: 100%;
        grid-template-columns: 3% 1fr 1fr 1fr 3%;
        grid-template-rows: 7% 1fr 1fr 1fr 1fr 1fr 1fr  ;
        grid-template-areas: 
        ".. vi bm me .."
        ".. rt bm m1 .."
        ".. rt bm m2 .."
        ".. rt bn m3 .."
        ".. rt bn m4 .."
        ".. rt bb m5 .."
        ".. rt bb m6 .."
       
        ;




    }


}

@media screen and (max-width: 500px){
    
    
    h1{
        font-size: 1.4rem;
    }

    h2{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }
    



}

@media  screen and (max-width: 300px) {
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 0.8rem;
    }
    
    p{
        font-size: 0.6rem;
    }
    
}

