*{
    margin: 0;
    font-family: 'Bitter', serif;
    
}

body{
    height: 120vh;
    width: 100%;
    background: linear-gradient( rgb(233, 248, 215)
    ,rgb(13, 46, 0) );
    background-repeat: no-repeat ;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   
}
#logga{

    text-shadow: 1px 1px white;
    font-size: 1.7rem;
}

#grid{
    padding: 5%;
    margin-top: 10px;
    display: grid;
    height: 85%;
    width: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
    "ba"
    "st"
    "re";
    grid-gap: 3%;
    
}

#Banan{
    grid-area: ba;
    background-image: url(/img/allan-nygren--xvKQuNtOhI-unsplash.jpg);
    background-size: cover;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-radius: 5%;
    


}

#Affar{
    grid-area: st;
    background-image: url(/img/sydney-rae-_-6iQvIunqA-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 5%;
    
}

#Resturang{
    grid-area: re;
    background-image: url(/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    text-decoration: none;
    border-radius: 5%;
    
    
}


#Banan span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}

#Affar span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem ;
    text-decoration: none;
    text-shadow: 2px 2px black;
}



#Resturang span{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

